h2 {
  color: red;
  text-align: center;
}

video {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px grey;
  max-width: 70%;
  height: auto;
}
main {
  margin-top: 80px;
}
.grid {
  display: grid;
  grid-gap: 20px;
}

.project-grid {
  grid-template-columns: 1fr 1fr;
}

.card {
  padding: 15px;
}

@media (max-width: 400px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}
