h2 {
  color: white;
  text-align: left;
  background-color: #a4bcd6;
  padding: 10px;
}

video {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px grey;
  max-width: 70%;
  height: auto;
}
main {
  margin-top: 80px;
}
.grid {
  display: grid;
  grid-gap: 20px;
}

.project-grid {
  grid-template-columns: 1fr 1fr;
}

.card {
  padding: 15px;
}
.travel-highlights {
  margin-top: 39px;
}

.contact-list li {
  list-style: none;
  line-height: 1.5;
}

.contact-list a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.contact-list a:hover {
  text-decoration: underline;
  color: #A4BCD7;
}
@media (max-width: 400px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}
